.profile__btn{
	width: 24px;
	height: 24px;
	margin: 0 0 10px 18px;
	padding: 0;
	cursor: pointer;
	border: 1px solid #fff;
	background-position: center;
	background-color: #000;
	transition: opacity 0.5s ease-in-out;
}
.profile__btn:hover{
	opacity: 0.6;
}
@media screen and (max-width: 767px){
	.profile__btn{
		width: 18px;
		height: 18px;
		margin: 0 0 10px 10px;
	}
}